<%- include('../partials/header') %>

<form id="create-plan" action="/plans/<%= plan._id%>?_method=PUT" method="POST">
    <label>Plans:</label>
    <input type="text" name="plan" value="<%= plan.plan %>" >
    <label>type:</label>
    <select name="category" value="<%= plan.category %>"> 
        <option value="High Protien">High Protien</option>
        <option value="Low Carb">Low Carb</option>
        <option value="Cut">Cut</option>
        <option value="Bulk">Bulk</option>
    </select>
    <input type="submit" value="Edit Plan">
</form>

<%- include('../partials/footer') %>
