<%- include('../partials/header') %>

<table id="plans">
    <thead>
        <tr>
            <th>Plan Name</th>
            <th>Plan Type</th>
        </tr>
    </thead>
    <tbody>
        <% plans.forEach(function(m) { %>
            <tr>
                <td><%= m.name %></td>
                <td><%= m.category %></td>
                <td>
                    <form 
                    action="/plans/<%= m._id %>?_method=DELETE" 
                    method="POST"
                    class="delete-form">
                        <button type="submit">Delete Plan</button>
                    </form>
                    <td><button><a href="/plans/<%= m._id %>">Details</a></button></td>
                </td>
            </tr>
            <% }); %>
    </tbody>
</table>
<br><br>
<hr>
<br>

<%- include('../partials/footer') %>