<%- include('../partials/header') %>
<section it="Plan-show-page">
    <div>Name:</div>
    <div><%= plan.plan %></div>
  <div>Plan Type: </div>
  <div><%= plan.category %></div>
  <a href="/plans/<%= plan._id%>/edit"> Edit Plan</a>
</section>

<button><a href="/plans/<%= plan._id %>/meals/new">New Meal</a></button>

<% if (meals.length) { %>
  <% meals.forEach(function(t) { %>
      <br><tr>
          <td><%= t.name %></td>
          <td><%= t.description %></td>
          <td><%= t.protein %></td>
          <td><%= t.carbs %></td>
          <td><%= t.fats %></td>
      </tr>
      <% }); %>
  <tbody>
  </tbody>
</table>
<% } else { %>
<br><h5>No Current Meals</h5>
<% } %>

<!-- Using the RESTful route to send the book's id to the server -->
<form action="/plans/<%= plan._id %>/comments" method="POST">
  <!-- Be sure name attributes of inputs match the model properties -->
  <input name="content">
  <button type="submit">COMMENTS</button>
</form>

<%- include('../partials/footer') %>