<%- include('../partials/header') %>
<section it="Plan-show-page">
    <div>Plan:</div>
    <div><%= plan.plan %></div>
  <div>category: </div>
  <div><%= plan.category %></div>
  <a href="/plans/<%= plan._id%>/edit"> Edit Plan</a>
  <ul>
    <%- plan.contents.map(p =>
      `<li>${p.name} <small>${p.born.toLocaleDateString()}</small></li>`
    ).join('') %>
  </ul>
</section>
<%- include('../partials/footer') %>