<!-- <%- include('../partials/header') %>

<% meals.forEach(function(mi) { %>
    <tr>
        <td><%= mi.name %></td>
        <td><%= mi.description %></td>
            <td>
                <form 
                action="/meals/<%= mi.id %>?_method=DELETE" 
                method="POST"
                class="delete-form">
                    <input type="submit" value="Delete Meal Item"></input>
                </form>
            </td>
    </tr>
    <% }); %>
</tbody>
<br>
<hr>
<br>
<form id="new-meal-item" action="/meals" method="POST">
    <table>
        <label>Name:</label>
        <input type="text" name="name"><br>
        <label>Description:</label>
        <textarea name="description" cols="30" rows="10"></textarea><br>
        <input type="submit" value="Add Meal">
    </table>
</form>

<%- include('../partials/footer') %> -->

<%- include('../partials/header') %>

<% if (user?._id.equals(meals.user)) { %>
<table id="meals-table">
    <thead>
        <th>Name</th>
        <th>Description</th>
    </thead>
    <tbody>
    <% meals.forEach(function(mi) { %>
        <tr>
            <td><%= mi.name %></td>
            <td><%- mi.description.replaceAll('\n', '<br>') %></td>
            <td>
                <form action="/meals/<%= mi.id %>/edit" 
                    method="GET" 
                    class="edit-form">
                        <button type="submit">Edit meals</button>
                    </form>
            </td>
            <td>
                <form 
                action="/meals/<%= mi.id %>?_method=DELETE" 
                method="POST"
                class="delete-form">
                    <input type="submit" value="Delete Menu Item"></input>
                </form>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } %>
<br>
<hr>
<br>
<form id="new-meals" action="/meals" method="POST">
    <table>
        <label>Name:</label>
        <input type="text" name="name"><br>
        <label>Description:</label>
        <textarea name="description" cols="30" rows="6"></textarea><br>
        <input type="submit" value="Add Meal">
    </table>
</form>
<%- include('../partials/footer') %>