<%- include('../partials/header') %>

<section id="Meal Plans!">
    <div>Name:</div>
    <div><%= meal.option %></div>
    <div>Carbs</div>
    <div><%= meal.option %></div>
    <div>Fats</div>
    <div><%= meal.option %></div>
    <div>Protiens</div>
    <div><%= %></div>
</section>

<%- include('../partials/footer') %>